.board-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	height: 100%;
	padding: 1rem;
	overflow-x: auto;
}

.board-container__add-button {
	flex: 0 0 auto;
	width: 30rem;
	padding: 2rem;
	border: 1px dashed #959da5;
	border-radius: 6px;
	background-color: transparent;
	color: #586069;
	font-weight: 600;
	cursor: pointer;
}

.board-container__add-button:hover {
	text-decoration: underline;
}